.baseCard {
  padding-top: 0.75rem; /* pt-3 */
  display: flex; /* flex */
  align-items: center; /* items-center */
  justify-content: space-between; /* justify-between */
  text-align: center; /* text-center */
  color: #4b5563; /* text-gray-600 */
  font-size: 0.875rem; /* text-sm */
}

@media (max-width: 400px) {
  .baseCard {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 3개씩 나누기 */
    gap: 3px; /* 행/열 간격 동일 */
  }
}
