.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 54px;
  border-bottom: 1px solid #f0f1f3;
  flex-shrink: 0;
}
.headerTitle {
  font-size: 18px;
  font-weight: 600;
  color: #3b4149;
}
.previewButton {
  font-size: 16px;
  font-weight: 600;
  color: #15c47e;
  text-decoration: none;
}
.content {
  padding: 24px 20px;
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.sectionTitle {
  font-size: 20px;
  font-weight: 600;
  color: #191f28;
}
.detailSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sectionLabel {
  font-size: 16px;
  font-weight: 500;
}
.required {
  color: #fe7564;
}
.imgUpload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 355px;
  border-radius: 8px;
  background-color: #f7f9fa;
  cursor: pointer;
  border: 1px dashed #e2e6e9;
}
.imagePreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.inputHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label {
  font-size: 15px;
  color: #3b4149;
}
.exampleButton {
  background-color: #e8f9f2;
  color: #15c47e;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
.textInput {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #f0f1f3;
  padding: 10px;
  font-size: 15px;
}
.textarea {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #f0f1f3;
  padding: 10px;
  font-size: 15px;
  height: 100px;
  resize: vertical;
}
.optionSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.optionGroup {
  padding: 2px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.optionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.optionInput {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #f0f1f3;
  padding: 10px;
  font-size: 15px;
}
.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  border-radius: 12px;
  background-color: #f7f9fa;
  color: #3b4149;
  padding: 12px;
  border: none;
  cursor: pointer;
}
.bottomBar {
  padding: 16px;
  border-top: 1px solid #f0f1f3;
  flex-shrink: 0;
}
.registerButton {
  width: 100%;
  height: 52px;
  border-radius: 16px;
  background-color: #15c47e;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.errorMessage {
  font-size: 14px;
  color: #fe7564;
}
