.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 54px;
  border-bottom: 1px solid #f0f1f3;
  flex-shrink: 0;
}
.headerTitle {
  font-size: 18px;
  font-weight: 600;
  color: #3b4149;
}
.nextButton {
  font-size: 16px;
  font-weight: 600;
  color: #15c47e;
  background: none;
  border: none;
  cursor: pointer;
}
.content {
  padding: 24px 20px;
  overflow-y: auto;
  flex-grow: 1;
}
.sectionTitle {
  font-size: 20px;
  font-weight: 600;
  color: #191f28;
  margin-bottom: 24px;
}
.formGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.label {
  font-size: 16px;
  font-weight: 500;
  color: #3b4149;
}
.required {
  color: #fe7564;
}
.dropdown {
  position: relative;
  width: 100%;
}
.selectBox {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #f0f1f3;
  padding: 12px 8px;
  font-size: 16px;
  color: #3b4149;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6 9L12 15L18 9' stroke='%233B4149' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>")
    no-repeat right 8px center;
}
.textInput {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #f0f1f3;
  padding: 12px 8px;
  font-size: 16px;
}
.charCount {
  text-align: right;
  font-size: 14px;
  color: #bac0c7;
}
.imgUpload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 335px;
  border-radius: 8px;
  background-color: #f7f9fa;
  cursor: pointer;
  border: 1px dashed #e2e6e9;
}
.imgInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #6a7685;
}
.imagePreview {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  overflow: hidden;
}
.optionGroup {
  font-size: 14px;
}
.errorMessage {
  font-size: 14px;
  color: #fe7564;
}
